*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
.header-container{
		display: flex;
     	align-items: center;
        padding: 7px;
        justify-content: space-between;
        background: linear-gradient(20deg,#194b4f,#33fffc);
}
.links{
	display: flex;
	justify-content: space-between;
	gap: 70px;
}
.logo{
	padding: 10px;

}
a{
	text-decoration: none;
	color: white;
	font-weight: bold;
`	 transition: 0.5s;;
}
.span{
	padding: 12px;
	font-size: 30px;
	color: whitesmoke;
}
.button{
	padding: 9px;
	background: #222;
	border-radius: 10px 60px 30px;
}
.hamburger {
      display: none;
      cursor: pointer;
      flex-direction: column;
      gap: 6px;
    }

    .hamburger span {
      width: 25px;
      height: 3px;
      background: white;
      transition: 0.4s;
    }
    a:hover{
    	transform: scale(1.3);
    }

    @media (max-width: 768px) {
      .links {
        position: absolute;
        top: 71px;
        left: -100%;
        flex-direction: column;
        background-color:#9CBBFC;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        transition: 0.8s;
        border-radius: 20px 5px 40px;
      }

      .links.active {
        left: 0;
      }

      .hamburger {
        display: flex;
        flex-direction: column;
      }
      .button{
      	display: none;
      }
      .logo{
      	padding: 12px;
      }
     